
<div class="p-4">
    <h1 class="text-2xl font-bold mb-4">Materials</h1>
    <ul class="flex flex-wrap gap-4 list-none pl-0">
        {% for material in materials %}
        <li class="w-full md:w-1/3">
            <div class="max-w-sm rounded overflow-hidden shadow-lg">
                {% if material.file %}
                <img class="w-full" src="{{ material.image.url }}" alt="Material Image">
                {% else %}
                <img class="w-full" src="https://via.placeholder.com/400x200" alt="Material Image">
                {% endif %}
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">{{ material.title }}</div>
                    <p class="text-gray-700 text-base">
                        {{ material.description }}
                    </p>
                </div>
                <div class="px-6 pt-4 pb-2">
                    <a href="{{ material.file.url }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                        Download Material
                    </a>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>